# Company details
COMPANY_NAME=Siatki Kramer
COMPANY_ADDRESS=ul. Przykładowa 1, 00-000 Warszawa
COMPANY_NIP=000-000-00-00
COMPANY_PHONE=+48 000 000 000
COMPANY_EMAIL=biuro@siatki-kramer.pl
COMPANY_WEBSITE=https://sklep.siatki-kramer.pl

# App settings
DATABASE_PATH=./offers.db
PDF_DIR=./pdfs
